@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Quicksand:wght@500&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-family: "Quicksand", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  position: relative;
  user-select: none;
}

.modal-header .btn-close {
  display: none;
}

footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  text-align: center;
  background-color: white;
}

.message-form {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
}

.send-message {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
}

.message-container {
  align-items: flex-start;
  gap: 1rem;
  margin-bottom: 5rem;
  height: 100%;
}

.home-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.upcoming-msg-parent {
  display: grid;
  gap: 1rem;
}

li {
  list-style: none;
}

.upcoming-message {
  min-height: 1rem;
  touch-action: manipulation;
  padding: 0 1rem;
  display: block;
  width: fit-content;
  color: black;
  background-color: #efefef;
  margin: 0.3rem 0;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  border: 1px solid rgba(209, 213, 219, 0.3);
  border-radius: 16px 16px 16px 1px;
  width: fit-content;
  max-width: 100%;
}
.upcoming-message li {
  word-wrap: break-word;
}

.msg-container {
  bottom: 100%;
  display: block;
  width: 100%;
}

.outgoing-msg {
  padding: 0.4rem 0.8rem;
  display: block;
  color: white;
  touch-action: manipulation;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  border: 1px solid rgba(209, 213, 219, 0.3);
  margin: 0.3rem 0;
  width: fit-content;
  align-self: flex-end;
  background: #0085ff;
  border-radius: 16px 16px 1px 16px;
  width: fit-content;
  max-width: 100%;
}

.outgoing-msg li {
  word-wrap: break-word;
}

#message-container-child {
  box-sizing: border-box;
  overflow: hidden;
  min-width: 44px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0.2rem 0;
  touch-action: manipulation;
  width: 100%;
}
.messageTimestamp {
  font-size: 8px;
  position: absolute;
  bottom: 0;
  right: 14px;
}
.recMsgusername {
  text-transform: capitalize;
}
.loginpage {
  display: grid;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-color: #e5e5f7;
  opacity: 1;
  background: radial-gradient(
      circle,
      transparent 20%,
      #e5e5f7 20%,
      #e5e5f7 80%,
      transparent 80%,
      transparent
    ),
    radial-gradient(
        circle,
        transparent 20%,
        #e5e5f7 20%,
        #e5e5f7 80%,
        transparent 80%,
        transparent
      )
      25px 25px,
    linear-gradient(#444cf7 2px, transparent 2px) 0 -1px,
    linear-gradient(90deg, #444cf7 2px, #e5e5f7 2px) -1px 0;
  background-size: 50px 50px, 50px 50px, 25px 25px, 25px 25px;
}

.message-form > div {
  width: 100%;
}
.join_roombtn button {
  width: 100%;
}

.loginpagechar {
  display: flex;
  justify-content: center;
  transform-origin: 50% 50%;
  animation: infinite 3s float;
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(15px);
  }
  100% {
    transform: translatey(0px);
  }
}

.verifyotp form {
  display: grid;
  margin-top: 0.5rem;
  padding: 1rem;
}
